# System & OS
.DS_Store
Thumbs.db
ehthumbs.db
._*

# IDEs & Editors
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.iws
*.ipr
*.sw?

# Docker
.docker/
docker-compose.override.yml

# Temporary & Logs
logs/
*.log
temp/
playground-temp/